@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

h1{
    font-size: 90px;
    color:gold;
    font-weight: 900px;
    padding: 0px 0px 0px 0px;
}

section h2{
    color: gold;
    font-size: 70px;
    position: left;
    padding:  0px 20px 0px 10%;
}

section p{
    color:antiquewhite;
    font-size: 20px;
    position: left;
    padding:  0px 20px 0px 10%;
}

body {
    margin: 0;
    background:#696969;
    font-family: rajdhani, Verdana;
    font-weight: 100;
}

header{
    background-image:url("greygrid.jpg")
}
header::after{
    content:"";
    display: table;
    clear: both;
}
.logo {
    float: left;
    padding-left: 40px;
}

nav{
    float:right;
}

nav ul{
    margin: 0;
    padding-right: 100px;
    list-style:none;

}

nav li{
    display:inline-block;
    margin-left: 70px;
    padding-top:18px;
    padding-right: 50px;

    position:relative;
}

nav a{
    color:yellow;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color:yellowgreen;
}

nav a::before{
    content:"";
    display:block;
    height:5px;
    background-color:yellowgreen;

    top:0;
    width:0%;

    transition: all ease-in-out 130ms;
}
nav a:hover::before{
    width: 100%;
}






    

